<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tech Connect</title>
  <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar">
        <div class="logo">Tech Connect
        </div>
        <a><form action="/profile" method="post">
            <button class="tab-btn" type="submit">Profile</button>
        </form></a>
            <a><form action="/allupcomingevents" method="get">
            <button class="tab-btn" type="submit">Upcoming Events</button>
        </form></a>
        </form></a>
        <a><form action="/requests" method="post">
            <input type="hidden" name="email" th:value="${session.seniorinfo.email}" />
            <button class="tab-btn" type="submit">My Requests</button>
        </form></a>
        <a><form action="/allschools" method="get">
            <button class="tab-btn" type="submit">Participating Schools</button>
        </form></a>
        <a><form action="/logout" method="post">
            <button class="tab-btn" type="submit">Log Out</button>
        </form></a>
</div>
    <div class="event-container">
        <h1>Participating Schools</h1>
        <div class="container">
            <div class="check-in">

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type in a name">

                <table id="myTable">
                    <tr class="header">
                        <th style="width:30%;">Name</th>
                        <th style="width:70%;">Info</th>
                    </tr>
                    <tr th:each="school : ${allschools}">
                        <td><label th:text="${school.name} "></label></td>
                        <td>
                            Name:
                            <span class="description" th:text="${school.name}"></span>
                            <br>
                            Addres:
                            <span class="description" th:text="${school.street}"></span>
                            <span class="description" th:text="${school.city}"></span>
                            <span class="description" th:text="${school.state}"></span>
                            <span class="description" th:text="${school.zip}"></span>
                            <br>
                            Contact Email:
                            <span class="description" th:text="${school.email}"></span>
                        </td>

                    </tr>
                </table>

            </div>

<!--            <div class="container">-->
<!--                <div class="admin-event-table" >-->
<!--                    <tr th:each="school : ${allschools}">-->
<!--                        <td>-->
<!--                            <div class="event-info">-->
<!--                                <div class="Topic">-->
<!--                                    <span th:text="${school.name}"></span>-->
<!--                                </div>-->
<!--                                <div class="des">-->
<!--                                    Address:-->
<!--                                    <span class="description" th:text="${school.street}"></span>-->
<!--                                    <span class="description" th:text="${school.city}"></span>-->
<!--                                    <span class="description" th:text="${school.state}"></span>-->
<!--                                    <span class="description" th:text="${school.zip}"></span>-->
<!--                                    <br>-->
<!--                                    Contact Email:-->
<!--                                    <span class="description" th:text="${school.email}"></span>-->
<!--                                </div>-->


<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 1; i < tr.length; i++) { // Start from index 1 to skip the header row
            var found = false;
            var tdStudent = tr[i].getElementsByTagName("td")[0];
            var tdInfo = tr[i].getElementsByTagName("td")[1];
            if (tdStudent || tdInfo) {
              var txtValueStudent = tdStudent.textContent || tdStudent.innerText;
              var txtValueInfo = tdInfo.textContent || tdInfo.innerText;
              if (txtValueStudent.toUpperCase().indexOf(filter) > -1 || txtValueInfo.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                found = true;
              }
            }
            if (!found) {
              tr[i].style.display = "none";
            }
          }
        }
</script>

</body>
</html>